<div class="container">

<h2 class="my-3">整理券発行手続きが完了しました。</h2>
<p class="my-3">
  「針の音楽団整理券システム」よりメールをお送りいたしました。<br />
  送付したメールが当演奏会の整理券となりますので、当日まで大切に保管してください。
</p>
<p class="my-3">
  24時間以内に整理券が届かない場合は、まず「迷惑メールフォルダ」に入っていないかご確認ください。<br />
  迷惑メールフォルダにも届いていない場合は「針の音楽」公式メール宛にご連絡ください。<br />
  （※くれぐれも別のアドレスから整理券の再取得を行わないようお願いします。）
</p>
<p class="my-3">
  その他不具合が御座いましたらお気軽にお問い合わせください。
</p>
<%= link "戻る", to: page_path(@conn, :index), class: "btn btn-secondary btn-lg", role: "button" %>
</div>
