<div class="container">
<h2>予約を行う</h2>

<%= render "form.html", changeset: @changeset,
                        action: entry_path(@conn, :create) %>

<%= link "戻る", to: page_path(@conn, :index) %>
</div>
