<h2>Show entry</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @entry.name %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @entry.email %>
  </li>

  <li>
    <strong>Count:</strong>
    <%= @entry.count %>
  </li>

</ul>

<%= link "Edit", to: entry_path(@conn, :edit, @entry) %>
<%= link "Back", to: entry_path(@conn, :index) %>
